{{ define "main" }}

<section class="title-container">
<h2 class="single-title">{{ singularize .Type }}:</h2>
<h1 class="single-title">{{ .Title }}</h1>
</section>
<section class="posts-showcase">
    <div class="post-list">
        {{ range .Paginator.Pages }}
        <a href="{{ .RelPermalink }}">
            <div class="feature-post card">
                <div class="post-pic" {{ if .Params.Image }} style="background-image: url({{ .Params.Image | absURL }});" {{ end }}>
                </div>
                <div class="post-info">
                    <h2>{{ .Title }}</h2>
                    <p class="post-date">{{ .Date.Format "Monday Jan 2, 2006"}} </p>
                    <p class="post-summary">{{ .Summary }}</p>


                </div>
            </div>
        </a>
        {{ end }}
    </div>
</section>
  {{- partial "paginator.html" . -}}
{{ end }}    
