$primary_yellow         : #FCC44B;
$primary_red            : #CF2F37;
$primary_blue           : #325E8D;

$dark_yellow            : #D8A53F;
$dark_blue              : #254569;
$dark_gray              : #282828;

$gray                   : #969696;

$outer_padding          : 3vw;